<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="episodes">
      <ion-icon name="film"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="characters">
      <ion-icon name="people"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quotes">
      <ion-icon name="megaphone"></ion-icon>
      <ion-label>quotes</ion-label>
    </ion-tab-button>
     <ion-tab-button tab="deaths">
      <ion-icon name="skull"></ion-icon>
      <ion-label>Deaths</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>